@import url('https://fonts.googleapis.com/css?family=Roboto:400,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font: 400 14px 'Comic Neue', sans-serif;
}

body{
    font: 400 14px ComicNeue, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea{
    font: 400 18px Roboto, sans-serif;
}

button{
    cursor: pointer; 
}
